* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #171717;
}

#hero-section {
    background: radial-gradient(circle, rgba(166,156,156,0) 0%, rgba(0,0,0,1) 50%);
}

#main-container {
    width: 100vw;
    height: 100vh;
}

.plylist-hor-card {
    background-color: rgba(45, 45, 45, 0.9);
}

.playlist-desc {
    color: #A7A7A7;
    font-size: 10pt;
}

/* Barre laterali e di riproduzione */

*, p{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

.left-barside img, #song-bar img{
    height: 50px;
}

.text-grey{
color:#5b5b5b ;
}

#search-input::placeholder{
    color: white;
    font-size: 16px;
}

#right-barside img.user-photo{
    height: 30px;
    border-radius: 50%;
}

#right-barside > div:last-of-type .user-info{
    color: #5b5b5b;
    font-size: 11px;
    font-weight: 500;
}

#right-barside > div:last-of-type .user-info > p:first-of-type{
    font-size: 12px;
    font-weight: 900;
}


#right-barside > div:last-of-type > div > p{
    color: #5b5b5b;
    font-size: 10px;
}

#song-bar{
    height: 75px;
    width: 100%;
    background-color: #181818;
    bottom: 0;
    border-top: 2px #282828 solid;
}

#song-bar > div > div:last-of-type > input{
    width: 100px;
}

input[type="range"]::-webkit-slider-thumb {
    background-color: white; /* Cambia il colore del pallino */
}

input[type="range"]::-webkit-slider-runnable-track {
    background-color: #5b5b5b; /* Cambia il colore della barra */
}

.fs-11{
    font-size: 11px;
}
.fs-12{
    font-size: 12px;
}